---
import type { GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import Markdown from "../../components/content/markdown/Markdown.astro";
import Page from "../../layouts/Page.astro";
import { Header } from "../../components/header";
import { Footer } from "../../components/footer";
import { Image } from "astro:assets";
import ArrowBackIcon from "~icons/material-symbols-rounded/arrow-back:outlined&opticalSize=40";
import dayjs from "dayjs";
import { Button } from "../../components/primitives/button";
import { getBlogCollection } from "../../schemas/blog";
import { render } from "astro:content";


export const getStaticPaths: GetStaticPaths = async () => {
  const posts = await getBlogCollection();
  return posts.map(post => ({
    params: {
      slug: post.id,
    },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;


const date = dayjs(post.data.editedAt ?? post.data.createdAt)
              .utc()
              .format("DD MMM YYYY")
              .toUpperCase();


const { Content } = await render(post);
---
<Page>
  <Header />
  <main>
    <div class="content">
      <div class:list={["header", post.data.cover ? "with-cover" : "card"]}>
        {
          post.data.cover
            && <Image
                  class="cover"
                  src={post.data.cover.src}
                  alt={post.data.cover.alt} />
        }
        <div class="actions">
          <Button variant={post.data.cover ? "elevated" : "text"} class="back" href="/blog" data-navigate-back>
            <ArrowBackIcon slot="leading" width={18} height={18} />
            Back
          </Button>
          <!-- <IconButton href="/blog" data-navigate-back>
            <ShareIcon width={24} height={40} />
          </IconButton> -->
        </div>
        <div class="details">
          <span class="date">{date}</span>
          <h1 class="title">{post.data.title}</h1>
          {post.data.description && <p class="description inner">{post.data.description}</p>}
        </div>
      </div>
      {post.data.description && <p class="description outer">{post.data.description}</p>}
      <Markdown>
        <Content />
      </Markdown>
    </div>
  </main>
  <Footer />
</Page>

<style>
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    max-width: min(960px, 100%);
    width: fit-content;
    margin: 0 auto;
    flex-grow: 1;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 24px 24px 96px 24px;
  }

  .header {
    position: relative;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    overflow: hidden;
    border-radius: 28px;

    &.with-cover {
      aspect-ratio: 16 / 9;
    }
    &.card {
      gap: 48px;
      border: 1px solid var(--color-outline-variant);
    }
  }

  .cover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 28px;
    z-index: -1;
    mask-image: linear-gradient(0deg, transparent, black);
  }

  .actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 24px 0 24px;
  }


  .details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
    padding: 24px;
  }

  .header.with-cover .details {
    border-radius: 28px 28px 0 0;
    backdrop-filter: blur(8px);
    background-image: linear-gradient(0deg, transparent, color-mix(in srgb, var(--color-surface) 38%, transparent));
  }

  .date {
    font-family: var(--text-label-large-family);
    font-size: var(--text-label-large-size);
    font-weight: var(--text-label-large-weight);
    line-height: var(--text-label-large-line-height);
    letter-spacing: var(--text-label-large-letter-spacing);
    color: var(--color-on-surface-variant);
  }

  .title {
    width: 100%;

    font-family: var(--text-display-small-family);
    font-size: var(--text-display-small-size);
    font-weight: 500;
    line-height: var(--text-display-small-line-height);
    letter-spacing: var(--text-display-small-letter-spacing);
    color: var(--color-on-surface);
  }
  .description {
    font-family: var(--text-body-large-family);
    font-size: var(--text-body-large-size);
    font-weight: var(--text-body-large-weight);
    line-height: var(--text-body-large-line-height);
    letter-spacing: var(--text-body-large-letter-spacing);
    color: var(--color-on-surface-variant);
  }

  @media only screen and (max-width: 599px) {
    .actions {
      padding: 16px 16px 0 16px;
    }
    .details {
      padding-top: 0;
      justify-content: center;
    }
    .date {
      display: none;
    }
    /* .title {
      font-family: var(--text-headline-medium-family);
      font-size: var(--text-headline-medium-size);
      font-weight: 500;
      line-height: var(--text-headline-medium-line-height);
      letter-spacing: var(--text-headline-medium-letter-spacing);
    } */
    .description.inner {
      display: none;
    }
  }
  @media only screen and (min-width: 600px) {
    .description.outer {
      display: none;
    }
  }
</style>
