---
import "@fontsource/roboto";
import "@fontsource-variable/roboto-flex/grad.css";
import "@fontsource-variable/fira-code";

interface Props {
  title: string;
  description: string;
}

const {
  title,
  description = "",
} = Astro.props;
---

<!-- Global -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="generator" content={Astro.generator} />

<link
  rel="alternate"
  type="application/rss+xml"
  title={title}
  href={`${Astro.site!.href}rss.xml`} />

<!-- Canonical URL -->
<link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)} />

<!-- Favicon -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<!-- <link
  rel="icon"
  type="image/svg+xml"
  href="/favicon-light.svg"
  media="(prefers-color-scheme: light)" />
<link
  rel="icon"
  type="image/svg+xml"
  href="/favicon-dark.svg"
  media="(prefers-color-scheme: dark)" /> -->

<!-- <meta name="theme-color" media="(prefers-color-scheme: light)" content={lightTheme.color.primary} /> -->
<!-- <meta name="theme-color" media="(prefers-color-scheme: dark)" content={darkTheme.color.primary} /> -->

<!-- Primary -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- OpenGraph -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<!-- <meta property="og:image" content={new URL(image, Astro.url)} /> -->

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content="" />
